<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
	default-lazy-init="true">

	<description>Shiro安全配置</description>

	<!-- Shiro's main business-tier object for web-enabled applications -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
	   <property name="sessionManager" ref="webSessionManager" />
	   <property name="authenticator">
            <bean class="org.apache.shiro.authc.pam.ModularRealmAuthenticator">
                <property name="authenticationStrategy">
                    <bean class="com.cloud.operation.shiro.OnlyOneSuccessfulStrategy"/>
                </property>
            </bean>
        </property>
		<property name="realms">
		    <list>
		    	<ref bean="shiroDbRealm"/>
		    </list>
		</property>
	</bean>
	
	<!-- 項目自定义的Realm -->
	<bean id="shiroDbRealm" class="com.cloud.operation.service.shiro.ShiroDbRealm" depends-on="userDao, userRoleDao, moduleDao">
		<property name="cacheManager" ref="redisCacheManager"/>
	</bean>
	
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login" />
		<property name="successUrl" value="/index" />
        <property name="filters">
	        <map>
	        	 <!-- 是否启用验证码检验 -->
	             <entry key="authc" value-ref="captchaFormAuthenticationFilter"/>
	             <entry key="user" value-ref="myUserFilter"/>
	             <entry key="licenceFilter" value-ref="licenceFilter"/>
	        </map>
        </property>
		<property name="filterChainDefinitions">
			<value>
		    	/Captcha.jpg = anon
				/css/** = anon
				/js/** = anon
				/img/** = anon
				/message/** = anon
				/images/** = anon
				/upload/** = anon
				/sysconfig/findSystemName = anon
				/sysconfig/findPhone = anon
				/sysconfig/findCopyright = anon
				/sysconfig/findVersion = anon
				/login = authc
				/loginTimeOut = anon
				/logout = anon
				/licence/** = anon
		    	/** = user,licenceFilter
		 	</value>
		</property>
	</bean>

	<bean id="webSessionManager" class="com.cloud.operation.shiro.RestWebSessionManager">
    	 <property name="sessionDAO" ref="sessionDAO"></property>
    </bean>
    <bean id="sessionDAO" class="com.cloud.operation.shiro.RedisSessionDAO">
        <property name="cacheManager" ref="redisCacheManager"/>
    </bean>
	<bean id="redisCacheManager" class="com.cloud.operation.shiro.RedisCacheManager">
		<property name="jedis" ref="jedisClient"/>
	</bean>
	
	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	<!-- AOP式方法级权限检查  -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    	<property name="securityManager" ref="securityManager"/>
	</bean>
	
	<bean id="captchaFormAuthenticationFilter" class="com.cloud.operation.shiro.CaptchaFormAuthenticationFilter"/>
	<bean id="myUserFilter" class="com.cloud.operation.shiro.MyUserFilter"/>
	<bean id="licenceFilter" class="com.cloud.operation.licence.LicenceFilter"/>
</beans>